.verao {
    background-color: orange;
    color:black;
    text-align: center;
}

.outono {
    background-color: brown;
    color:black;
    text-align: center;
}

.inverno {
    background-color: grey;
    color:black;
    text-align: center;
}

.primavera {
    background-color: green;
    color:black;
    text-align: center;
}